@import url("https://fonts.googleapis.com/css?family=Montserrat|Rubik");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	font-weight: bold;
}
h1,h2,h3{
	font-family:'Rubik',sans-serif ;
	font-weight:bold ;
  margin: auto;

}


